<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}{{ #title }} &ndash; {{ /title }}{{ config.global_title }}</title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="styles/hgt.css">
    <link rel="stylesheet" href="styles/github-gist.css">
    <link rel="stylesheet" href="styles/holograph.css">

    <!-- Source CSS -->
    {{#config.css_include}}
    <link rel="stylesheet" href="{{.}}">
    {{/config.css_include}}
</head>

  <body class="hgt-body">
    <div class="hgt-pagehead">
      <div class="hgt-container clearfix">
        <h1 class="hgt-pagehead-title">{{ config.global_title }}</h1>
        <nav class="hgt-pagehead-nav clearfix" role="navigation">
          <a href="index.html"
             class="hgt-pagehead-nav-item <% if file_name.include?('index.html') %>selected<% end %>">
            Home
          </a>

          {{#categories}}
          <a href="{{ link }}" class="hgt-pagehead-nav-item">{{ title }}</a>
          {{/categories}}
        </nav>
      </div>
    </div>

    <div class="hgt-styleguide hgt-container hgt-column--mobile">
      <div class="hgt-columns">
          <div class="hgt-column one-fourth hgt-column--mobile">
            <nav class="hgt-menu">
              {{#blocks}}
              <a href="#{{name}}" class="hgt-menu-item">{{title}}</a>
              {{/blocks}}
            </nav>
          </div>

          <div class="hgt-column {{#blocks.length}}three-fourths hgt-column--mobile{{/blocks.length}}">
          <div class="hgt-content">
