/* =========================================================
based on hologram github theme by Mathis Hofer
https://github.com/wearecube/hologram-github-theme
========================================================= */

/* utilities */
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.hgt-body {
    margin: 0;
    padding: 1em;
    background: #fff;
}

.hgt-pagehead,
.hgt-menu,
.styleguide,
.hgt-footer {
    font-size: 13px;
    line-height: 1.4;
}

.hgt-pagehead,
.hgt-menu,
.hgt-content .styleguide,
.hgt-content > h1,
.hgt-content > h2,
.hgt-content > h3,
.hgt-content > h4,
.hgt-content > h5,
.hgt-content > h6,
.hgt-footer {
    font-family: sans-serif;
    color: #333;
}

.hgt-pagehead-nav a,
.hgt-content .styleguide a,
.hgt-footer a {
    color: #4183C4;
    text-decoration: none;
}

.hgt-content .styleguide a:hover,
.hgt-footer a:hover {
    text-decoration: underline;
}

.hgt-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 600px) {
    .hgt-columns {
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px;
    }
    .hgt-columns:after {
        display: table;
        clear: both;
        content: '';
    }
    .hgt-columns:before {
        display: table;
        content: '';
    }
    .hgt-column {
        box-sizing: border-box;
        display: block;
        float: left;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .one-fourth {
        width: 25%;
    }
    .three-fourths {
        width: 75%;
    }
}

.hgt-pagehead {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #eee;
}

.hgt-pagehead-title {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}
@media screen and (min-width: 600px) {
    .hgt-pagehead-title {
        display: inline-block;
        margin-bottom: 0;
    }
}

.hgt-pagehead-nav {
    box-sizing: border-box;
    display: block;
}
@media screen and (min-width: 600px) {
    .hgt-pagehead-nav {
        float: right;
    }
}

.hgt-pagehead-nav-item {
    box-sizing: border-box;
    float: left;
    padding: 6px 10px 21px;
    font-size: 14px;
    color: #777;
    text-decoration: none;
}
.hgt-pagehead-nav-item + .hgt-pagehead-nav-item {
    margin-left: 20px;
}

.hgt-pagehead-nav-item:hover,
.hgt-pagehead-nav-item.selected {
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid #D26911;
}

.hgt-menu {
    display: block;
    list-style: outside none none;
    margin-bottom: 15px;
    list-style: outside none none;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
}

.hgt-menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    color: #4078C0;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #eee;
    text-decoration: none;
}

.hgt-menu-item:hover {
    text-decoration: none;
    background-color: #F9F9F9;
}

.hgt-menu-item.selected {
    font-weight: bold;
    color: #222;
    cursor: default;
    background-color: #fff;
}

.hgt-menu-item.selected:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    content: '';
    background-color: #D26911;
}

.hgt-menu-item:first-child:before {
    border-top-left-radius: 2px;
}

.hgt-sticky {
    position: fixed;
}

.hgt-menu.hgt-sticky {
    top: 5px;
    width: 228px;
}

.styleguide {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

h1.styleguide,
h2.styleguide,
h3.styleguide,
h4.styleguide,
h5.styleguide,
h6.styleguide,
.hgt-content > h1,
.hgt-content > h2,
.hgt-content > h3,
.hgt-content > h4,
.hgt-content > h5,
.hgt-content > h6 {
    box-sizing: border-box;
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

h1.styleguide {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

h2.styleguide {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

h3.styleguide {
    font-size: 1.5em;
    line-height: 1.43;
}

h4.styleguide {
    font-size: 1.25em;
}

h5.styleguide {
    font-size: 1em;
}

h6.styleguide {
    font-size: 1em;
    color: #777;
}

p.styleguide,
blockquote.styleguide,
dl.styleguide,
table.styleguide,
pre.styleguide {
    box-sizing: border-box;
    margin: 0 0 16px;
}

ul.styleguide {
    list-style: disc;
    box-sizing: border-box;
    margin: 0 0 16px;
    padding-left: 1em;
}

ol.styleguide {
    list-style: decimal;
    box-sizing: border-box;
    margin: 0 0 16px;
    padding-left: 1em;
}

code.styleguide,
tt.styleguide {
    box-sizing: border-box;
    padding: 0.2em 0;
    margin: 0 3px 0 0;
    font-size: 13.6px; /* 85% of 16px */
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

code.styleguide:before,
code.styleguide:after,
tt.styleguide:before,
tt.styleguide:after {
    letter-spacing: -0.2em;
    content: '\00a0';
}

.codeBlock pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace;
    font-size: 12px;
}

.codeBlock .highlight pre,
.codeBlock pre {
    padding: 16px;
    overflow: auto;
    font-size: 13.6px; /* 85% of 16px */
    line-height: 1.45;
    background-color: #F7F7F7;
    border-radius: 3px;
}

.codeBlock  pre {
    word-wrap: normal;
}

.hgt-content > :first-child {
    margin-top: 0;
}

.codeExample,
.jsExample {
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 10px 0;
}

.jsExample {
    border-top: 0;
}

.codeExample:before,
.jsExample:before {
    font-family: sans-serif;
    color: #222;
    border: 1px solid #eee;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
    padding: 2px;
    display: block;
}

.exampleOutput {
    padding: 16px;
}

.codeBlock {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid #eee;
}

table .codeBlock {
    background-color: transparent;
    border-top: none;
    border-radius: 0;
}

.hgt-footer {
    box-sizing: border-box;
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #777;
    border-top: 1px solid #eee;
}

.hgt-footer:after {
    display: table;
    clear: both;
    content: '';
}

.hgt-footer:before {
    display: table;
    content: '';
}

/* colour swatches */
.hgt-palette {
    margin-bottom: 2em;
}
.hgt-palette .hgt-column {
    margin-bottom: 1em;
}
.hgt-swatch {
    margin-bottom: 1em;
    height: 6em;
    border: 1px solid #ccc;
}
@media screen and (max-width: 600px) {
    .hgt-swatch {
        display: inline-block;
        height: 4em;
        width: 25%;
        margin: 0 1em 0 0;
        vertical-align: middle;
    }
    .hgt-palette .hgt-column {
        margin-top: 0;
    }
}

/* tables */
table.styleguide th,
table.styleguide td {
    text-align: left;
    padding: 0 2em 2em 0;
}
table.styleguide th:last-child,
table.styleguide td:last-child {
    padding-right: 0;
}

@media screen and (max-width: 600px) {
    table.styleguide.styleguide {
        width: 100%;
    }
    table.styleguide thead {
        display: none;
    }
    table.styleguide tr + tr {
        display: block;
        border-top: 1px solid #eee;
    }
    table.styleguide td {
        display: block;
        margin: 2em 0;
        padding: 0;
    }
}
